.imgCtn img{
   max-height: 70vh;
   margin: 0rem;
   max-width: 100vw;
}

.score{
   font-size: 2rem;
   margin: 1rem 0 0 0;
   padding: 1rem;
   text-transform: capitalize;
   font-weight: bold;
   background-color: hsl(201, 82%, 38%);
   color: white;
   width: fit-content;
   
}